
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>666集团会员服务部</title>
    <link rel="stylesheet" href="css/common.css">
    <script src="libs/jquery/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
    <script src="libs/prefixfree/prefixfree.min.js"></script>
    <script src="libs/vue/vue.js"></script>
    <script src="libs/echarts/echarts.min.js"></script>
    <script src="libs/common.js"></script>
    <script src="libs/page_trend.js"></script>
</head>
<body>
    <div class="container">
        
        <aside>
            <header>
               <h3><i></i>集团会员服务部</h3>
               <h4>电话服务部</h4>
            </header>
            <ul>
                <li class="current_date">
                    实时趋势
                    <span></span>
                </li>
                <li class="current_tel">
                    当日电话量
                    <span></span>
                </li>
                <li class="queue_time">
                    最长排队时间
                    <span></span>
                </li>
                <li class="queue_num">
                    排队个数
                    <span></span>
                </li>
            </ul>
        </aside>

        <section>
            <div class="card card_queue">
                <h5>排队情况</h5>
                <table>
                    <thead>
                        <tr>
                            <th v-for="item in thead">{{item.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tr">
                            <td v-for="td in item.td">{{td.text}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="error_tips"></p>

            </div>
            <div class="card card_chart">
                <h5>日电话量趋势</h5>
                <ul>
                    <li class="res_num">人工请求量<span></span></li>
                    <li class="answer_num">人工接听量<span></span></li>
                    <li class="yestorday_res_num">昨日人工请求量<span></span></li>
                    <li>单位 : 通</li>
                </ul>
                <div id="chart" style="min-width:400px;height:96%"></div>
            </div>
        </section>
    </div>

</body>
</html>