<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>xx集团会员服务部</title>
    <link rel="stylesheet" href="css/common.css">
    <script src="libs/jquery/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
    <script src="libs/prefixfree/prefixfree.min.js"></script>
    <script src="libs/vue/vue.js"></script>
	<script src="libs/common.js"></script>
    <script>
        $(function(){

            var vm1 = new Vue({
              el: '.card_situation',
              data: ''
            });

            var vm2 = new Vue({
              el: '.card_overview',
              data: ''
            });

            function getTableData(url,id,fn){
                $('.card table').addClass('movePage');
                $('aside li span').addClass('fadeIn');
                var vueObj = {
                    '.card_situation':vm1,
                    '.card_overview':vm2
                };
                $.ajax({
                    url:url,
                    type:'GET',
                    cache: false,
                    dataType:'json',
                    success:function(data){
                       
                        vueObj[id].$data={
                            thead:data.datas[0].thead,
                            tr:data.datas[0].tr
                        };
                        fn&&fn(data);
                        setTimeout(function(){
                        $('.card table td').addClass('fadeIn');
                        },0);
                    },
                    error:function(){
                        $('p.error_tips').show().html('获取数据有误');
                    },
                    complete:function(){
                      setTimeout(function(){
                          $('.card table').removeClass('movePage');
                          // $('.card table td').removeClass('fadeIn');
                          $('aside li span').removeClass('fadeIn');
                      },4000);
                    }
                });
            };

            function splitStr(str){
                var curStr=[];
                for (var i = 0; i < str.length; i++) {
                    curStr.push('<i>'+str[i]+'</i>');
                }
                return curStr;
            };

            getTableData('json/table_situation.json','.card_situation',function(data){                   
                $('.current_date span').text(data.curDate);
                $('.current_tel span').html(splitStr(data.curTel));
                $('.pickup_num span').html(splitStr(data.pickupNum).concat('%'));
            });
            getTableData('json/table_overview.json','.card_overview');

            setInterval(function(){
                getTableData('json/table_situation.json','.card_situation',function(data){                        
                    $('.current_date span').text(data.curDate);
                    $('.current_tel span').html(splitStr(data.curTel));
                    $('.pickup_num span').html(splitStr(data.pickupNum).concat('%'));
                });
                getTableData('json/table_overview.json','.card_overview');

            },5000); 

            setTimeout(function(){
              location.href='page_trend.html';
            },30000);
        });
    </script>
</head>
<body>
    <div class="container">
        <aside>
            <header>
               <h3><i></i>集团会员服务部</h3>
               <h4>电话服务部</h4>
            </header>
            <ul>
                <li class="current_date">
                    实时趋势
                    <span></span>
                </li>
                <li class="current_tel">
                    当日电话量
                    <span></span>
                </li>
                <li class="pickup_num">
                    电话接起率
                    <span></span>
                </li>
            </ul>
        </aside>
        <section>
            <div class="card card_situation">
                <h5>员工个人情况</h5>
                <table id="table">
                    <thead>
                        <tr>
                            <th v-for="item in thead">{{item.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tr">
                            <td v-for="td in item.td">{{td.text}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="error_tips"></p>

            </div>
            <div class="card card_overview">
                <h5>数据总览</h5>
                <table>
                    <thead>
                        <tr>
                            <th v-for="item in thead">{{item.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tr">
                            <td v-for="td in item.td">{{td.text}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="error_tips"></p>

            </div>
        </section>
    </div>

</body>
</html>