<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>666集团会员服务部</title>
    <link rel="stylesheet" href="css/common.css">
    <script src="libs/jquery/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->
    <script src="libs/prefixfree/prefixfree.min.js"></script>
    <script src="libs/vue/vue.js"></script>
    <script src="libs/common.js"></script>
	<script src="libs/page_list.js"></script>
</head>
<body>
    <div class="container">
        <aside>
            <header>
               <h3><i></i>集团会员服务部</h3>
               <h4>电话服务部</h4>
            </header>
            <ul>
                <li class="current_date">
                    实时趋势
                    <span></span>
                </li>
                <li class="current_tel">
                    当日电话量
                    <span></span>
                </li>
                <li class="pickup_num">
                    电话接起率
                    <span></span>
                </li>
            </ul>
        </aside>
        <section>
            <div class="card card_situation">
                <h5>员工个人情况</h5>
                <table id="table">
                    <thead>
                        <tr>
                            <th v-for="item in thead">{{item.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tr">
                            <td v-for="td in item.td">{{td.text}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="error_tips"></p>

            </div>
            <div class="card card_overview">
                <h5>数据总览</h5>
                <table>
                    <thead>
                        <tr>
                            <th v-for="item in thead">{{item.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tr">
                            <td v-for="td in item.td">{{td.text}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="error_tips"></p>

            </div>
        </section>
    </div>

</body>
</html>